.card{
    width:90%;
    height:10rem;
    /* border:1px solid ; */
    margin:.5rem 2rem;
    border-radius: 10px;
    padding:1rem;
    box-shadow:var(--shadow);
}
.card--content--wrapper h1{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.card--content--wrapper p{
 padding: 0.4rem .5rem;
}
.card--img--wrapper{
    width:10rem;
    height:8rem;
    background-repeat: round;
}