.landing--text{
    width:100%;
    
    
}
.height-100{
    min-height:100vh;
}
.height-80{
    height:80vh;
}
.landing--text h1,.det--section h1{
    font-size:3.5rem;
    font-weight:bold;
    color:#fff;
}
.landing--text p{
    font-weight:lighter;
    font-size:1rem;
    width:50%;
    text-align:center;
    margin: auto;
    color:#fff;
}
.det--section p{
    font-weight:lighter;
    font-size:1.5rem;
    width:70%;
}
.login--section{
    width:70%;
    margin:auto;
    box-shadow:var(--shadow);
}
.img--login--container{
    width:50%;
    height:inherit;
}
.landing--text img{
    width:500px;
}

.highlight{
    color:var(--highlighter);

}

.down{
    animation:down-anime 1s infinite alternate;
    transition:all .5s linear;
}
.bg--login{
    background-position: center;
    background-size: cover;
}
.transparent--bg{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), linear-gradient(
45deg, black, transparent);
}
.login--section{
    background:#fff;
    border-radius:10px;
}

@keyframes down-anime{
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0px);
    }
}

.question img{
    width:400px;
}
.question h3{
    font-size:2rem;
    /* font-family:var(--text--primary); */
}


.icons{
    /* font-size: 3rem; */
    color:#fff;
    background:#042e4f;
    border-radius: 10px;
    padding:0.5rem 1rem;
    width:8rem;
    height:5rem;
}
.app--use{
    max-width: 15rem;
    margin:3rem;
    position: relative;
}
.content{
    width:10rem;
    padding: 0rem .5rem;
}
.content h3{
    font-size: 1.5rem;
    width:inherit;
}
.content p{
    font-size: 1rem;
}
.htu{
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}
.title{
    font-size: 3.5rem;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    display:inline-block;
    /* margin: auto; */
}
/* .app--use:not(:nth-child(4))::before{
    content:"";
    width: 7rem;
    height:.2rem;
    position: absolute;
    /* background:var(--highlighter); */
    /* right:-6rem;
    top:2.5rem; */
    /* border-radius:100%; */
    /* border-bottom:2px dotted; */
/* } */
.title::before{
    content:"";
    width: 7rem;
    height:.2rem;
    position: absolute;
    background:var(--highlighter);
    right:-8rem;
    top:2.5rem;
    border-radius:100%;

}
.title::after{
    content:"";
    width: 7rem;
    height:.2rem;
    position: absolute;
    background:var(--highlighter);
    left:-8rem;
    top:2.5rem;
    border-radius:100%;

}
.about--us p{
    width:85%;
}
.frame,.frame--img{
    width:15rem;
    height:10rem;
}

.frame--wrapper{
    position: relative;
}
.frame--wrapper:nth-child(1){
    left: 3rem;
    top:3rem;
}
.frame--wrapper:nth-child(2){
    top:2rem;
}
.frame--wrapper:nth-child(3){
    top:-3rem;
    left: 7rem;
    z-index: 0;
}
.frame{
    /* border:2px solid var(--highlighter); */
    position:absolute;
    
    
}
.frame--img img{
    width:inherit;
    height:inherit;
    object-fit: cover;
}
.frame--img img{
    transform: translate3d(15px, -20px, 10px);
}
.gps img{
    /* width:1000px/; */
    animation:  down-anime .5s  infinite alternate;
}