.logo--wrapper img{
    width:60px;

}
.logo--wrapper h1{
    font-family: 'Lemon', cursive;
    font-size:2rem;
}
.nav--links li > a{
    font-weight:400;
    font-size: 1.3rem;
    /* color:#fff; */
}
.nav--bar{
    /* background-color:crimson; */
    height: 4rem;
}
.link{
    position: relative;

}
.active--link::before,
.link:hover:not(:nth-child(5))::before{
    transition: all .5s linear;
}
.active--link::before,
.link:hover:not(:nth-child(5))::before{
    content: "";
    width: 3rem;
    height:.2rem;
    background-color:#333;
    border-radius: 50px;
    position: absolute;
    right: 1rem;
    top:2.5rem;
}
.logout{
    background-color: var(--highlighter);
    padding: .2rem 1rem;
    /* font-size:.3rem; */
    color:#fff;
    border-radius: 10px;
    box-shadow:var(--shadow);
}